body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

header, footer {
    background-color: #8d8d8d;
    padding: 5px;
    text-align: center;
}

#settingsButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    position: absolute; /* Position relative to the nearest positioned ancestor (header) */
    top: 10px; /* Adjust the top space */
    right: 10px; /* Adjust the right space */
}

#settingsPanel {
    position: fixed;
    top: 10px;
    right: -250px;
    width: 200px;
    padding: 15px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
}

#settingsPanel h2 {
    margin: 0;
    font-size: 18px;
}

#settingsPanel input {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

#saveSettings {
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

main {
    padding: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#flags-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* grid for the flag */
    gap: 20px; /* Flag spacing */
    padding: 20px;
    background-color: #d0d0d0;
    border-radius: 10px;
    margin: 10px auto; /* Centering */
    width: fit-content;
}

#flags-container img {
    width: 160px; /* Adjust flag size */
    height: auto;
    cursor: pointer;
    border: 2px solid transparent; /* Optional styling */
    transition: transform 0.2s ease-in-out;
}

#flags-container img:hover {
    transform: scale(1.1); /* Slisdsdsdom effect */
}

#myButton {
    position: absolute;
    top: 100px; /* Just below the */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* How high up it is */
    font-size: 18px;
    padding: 10px 25px; /* Size of the button */
    background-color: #8b8f8b; /* BUTTON COLOR */
    color: white; /* TEXT COLOR */
    border: none;
    border-radius: 5px; /* rounded corner */
    cursor: pointer; /*for the cursor*/
    width: 200px; /* width of ??? */
}

#myButton:hover {
    background-color: #3d903c; /* Optional: Change color on hover */
}